sudo: required
language: python
services: 
  - docker
env:
    - ASSIGNMENT=assignment17
before_install:
  - docker pull johntfoster/pytrilinos
install:
  - "curl -H \"Authorization: token ${GH_TOKEN}\" -H 'Accept: application/vnd.github.v3.raw' -O --location \"https://api.github.com/repos/PGE383-HPC/${ASSIGNMENT}/contents/test.py\""
script:
  - docker run --rm -v `pwd`:/var/pytri -it johntfoster/pytrilinos:latest mpiexec -np 4 python test.py
